h3 Instances
table
	tr
		a(href=`/resetData`)  Delete All Instances Data

table
	tr
		td Name
		td Case Id
		td Started
		td Ended
		td Examine Log
		td Delete
	each instance in instances
		- var ref = "/instanceDetails?id="+instance.id;
		- var ref2 = "/deleteInstance?id="+instance.id;
		tr
			td #{instance.name}
			td #{instance.data.caseId}
			td #{instance.fromNow}
			td #{instance.endFromNow} 
			td
				a(href=`${ref}`) Examine
			td 
				a(href=`${ref2}`) Delete
