extends ../layout

block content
  .pb-2.mt-2.mb-4.border-bottom
    h3 User Administration

  table
   tr 
      td Email
      td Name
      td Email Verified
      td User Groups
   each user in users 
    tr 
     td #{user.email}
     td #{user.name}
     td #{user.emailVerified}
     td #{user.userGroups}
     td 
      a(href=`/account/edit/${user.email}`) Edit
	 
