extends layout

block content

		
	div(style="border-bottom: 1px solid #999;padding-bottom: 10px;overflow: hidden;")

		h1(style="float:left;")
			span #{title}

		span(id='Details-block',font-size='10px')
		
	script(type="text/javascript").
		var jsonData=!{definition};	
		var decorations= !{decorations};	
	script(type="text/javascript").
		function showLogs()
		{
		  var dv = document.getElementById("logs");
		  var button =document.getElementById("showHide");
		  if (dv.style.display === "none") {
			dv.style.display = "block";
			button.innerHTML="&uarr;";
		  } else {
			dv.style.display = "none";
			button.innerHTML="&darr;";
		  }
		}
		$(document).ready(function() {
		  var lines= $('#logs').find('table').find('tr').find('td');
		  lines.each(function(index) {

			  if ($(this).text().startsWith('debug:')) {
				$(this).css("color", "green");
				}
			  if ($(this).text().startsWith('log:Action:')) {
				$(this).css("font-weight", "bold");
				$(this).css("font-size", "14px");
				}
			}); // end each
		  }); // end ready
				
	h4 Instance Information
	- let lastAt = (lastItem.endedAt) ? lastItem.endedAt : lastItem.startedAt;
	table
		tr 
			td name:
			td  #{instance.name}
			td id:
			td #{instance.id}
		tr
			td started At
			td(class='startDate') #{instance.startedAt}
			td ended At
			td #{instance.endedAt}
		tr
			td lastAt
			td #{lastAt} 
		tr
			td lastItem
			td #{lastItem.elementId}
			td last status
			td #{lastItem.status}

				
	h4 Instance Data 
	table
		each v in vars
			tr
				td #{v.key}
				td #{v.value}

	div!= svg

	h4 Instance Items

	span Times shown are from the start of the Execution
	table
		tr
			td seq
			td Element Id
			td Name
			td Started
			td Ended
			td Status
			td Type
			td User
			td Action
				
		- let seq=0;
		each item in items
			- var ref = "/invokeItem?id="+item.id+"&processName="+instance.name+"&elementId="+item.elementId;
			- var label='';
			- if (item.status=='wait' && item.type=='bpmn:UserTask') label= 'Execute';
			- if (item.status=='wait' && item.type.includes('Event')) label= 'Force';
			- var assign='';
			- if (item.candidateUsers) assign+='>Assigned to users:'+item.candidateUsers;
			- if (item.candidateGroups) assign+=' groups:'+item.candidateGroups;
			- if (item.assignee) assign+=' Assigned by:'+item.assignee;
			- if (item.dueDate) assign+=' Due on:'+item.dueDate;
			- seq++;
				tr
					td #{seq}
					td #{item.elementId}
					td #{item.name}
					td(class='date') #{item.startedAt}
					td(class='date') #{item.endedAt}
					td #{item.status}
					td #{item.type}
					td #{item.userId}
					td
						a(href=`${ref}`) #{label}
			if (!assign=='')
				tr
					td
					td(colspan=3) #{assign}

	h4 Instance Logs <button id="showHide" onclick="showLogs()">&darr;</button>
	div(id="logs" style="display:none;") 
		table
			each log in logs
				tr
					td #{log}
		
